/*Bienvenido.html*/
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Display:wght@300;400&display=swap");
.unique {
  background-color: #610303;
}
.unique .container {
  border-radius: 6px;
  margin: 80px auto;
  display: grid;
  background-color: black;
  grid-template-columns: 2, 1fr;
  grid-template-rows: 2, 1fr;
  grid-template-areas: "image1 image2" "image3 image3";
}
.unique .animate__fadeIn {
  animation-duration: 1.5s;
}
.unique .image1 {
  border: 5px double white;
  margin: 70px;
  padding: 25px;
  grid-area: image1;
}
.unique .animate__fadeInLeft {
  animation-duration: 4s;
}
.unique .image2 {
  border: 5px double white;
  margin: 20px;
  padding: 25px;
  grid-area: image2;
}
.unique .animate__fadeInRight {
  animation-duration: 4s;
}
.unique .image3 {
  margin: 20px;
  padding: 5px;
  grid-area: image3;
  color: white;
  font-size: 40px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  line-height: 60px;
}
.unique .image3 a {
  color: white;
  margin-top: 7px;
}
.unique .image3 a:hover {
  background-color: white;
  padding: 8px;
  margin: 5px;
  transition: all 2s;
  transform: scale(4);
}
.unique .animate__fadeInUp {
  animation-duration: 4s;
}

/*Header*/
header {
  padding: 10px;
  border: 8px solid black;
  line-height: 12px;
  background-color: #990606;
}

.MenuGral {
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
  font-size: 13px;
  color: white;
}
.MenuGral .nav-link {
  margin-top: 14px;
}
.MenuGral .dropdown-menu {
  font-size: 13px;
}

/*Footer*/
footer {
  background-color: #610303;
  width: 100%;
  display: flex;
  border: 4px solid black;
}

/*Index.html*/
.grid-container {
  display: grid;
  grid-template-columns: 2, 1fr;
  grid-template-rows: 3, 1fr;
  grid-template-areas: "seccion1 seccion1" "seccion2 seccion3" "seccion4 seccion4";
}
.grid-container .seccion1 {
  background-color: #afaaaa;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  display: flex;
  text-align: justify;
  text-size-adjust: 60%;
  margin: 5px;
  padding: 10px;
  border: 2px solid black;
  font-size: 20px;
  line-height: 25px;
  /*width: 90%;*/
  grid-area: seccion1;
}
.grid-container .imagenlogo {
  margin-right: 20px;
}
.grid-container .texto1 {
  padding: 30px;
  padding-top: 35px;
}
.grid-container h1, .grid-container h4, .grid-container h3, .grid-container h2 {
  text-decoration: underline;
  color: black;
  font-style: italic;
}
.grid-container p {
  color: black;
}
.grid-container .seccion2 {
  background-color: #afaaaa;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  list-style: none;
  display: block;
  margin: 10px;
  padding: 20px;
  line-height: 0, 5rem;
  border: 2px solid black;
  /*width: 40%;*/
  float: left;
  font-size: 20px;
  grid-area: seccion2;
}
.grid-container .seccion3 {
  background-color: #afaaaa;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  display: inline;
  padding: 20px;
  text-align: center;
  /*width: 40%;*/
  border: 2px solid black;
  float: right;
  margin: 30px;
  padding-bottom: 43px;
  grid-area: seccion3;
}
.grid-container .seccion-4 {
  background-color: #afaaaa;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  display: block;
  text-align: justify;
  margin: 10px;
  /*margin-top: 200px;*/
  padding: 10px;
  padding-top: 10px;
  border: 2px solid black;
  font-size: 20px;
  line-height: 25px;
  grid-area: seccion4;
}

/*SECCION INSTITUCIONAL*/
/*Organigrama.html*/
.main-organigrama .organigrama-1 {
  background-color: #afaaaa;
  margin: 20px;
  margin-top: 10px;
  padding: 20px;
  padding-top: 10px;
  border: 2px solid black;
  line-height: 23px;
  font-family: "Nano Sans Display";
  font-size: 20px;
  text-align: justify;
}
.main-organigrama .organigrama-1 .imagen-organigrama {
  margin-top: 10px;
  margin-bottom: 15px;
}
.main-organigrama strong {
  text-decoration: underline;
  font-style: italic;
}
.main-organigrama .organigrama-2 {
  background-color: #afaaaa;
  margin: 25px;
  padding: 25px;
  border: 2px solid black;
  font-family: "Nano Sans Display";
  font-size: 20px;
  line-height: 25px;
  list-style: circle;
}

/*noticias.html*/
.main-noticias .first-new {
  background-color: #5a5757;
  border-radius: 4px;
}
.main-noticias .first-new .noticias-3 {
  background-color: #afaaaa;
  margin: 20px;
  margin-bottom: 5px;
  padding: 15px;
  border: 6px double black;
  position: static;
}
.main-noticias .noticias-1 {
  background-color: #afaaaa;
  font-family: "Nano Sans Display";
  margin-bottom: 10px;
  padding: 5px;
  border-top: 3px solid black;
  border-left: 3px solid black;
  border-right: 3px solid black;
  margin-top: 10px;
  margin-bottom: 0;
  text-align: center;
}
.main-noticias .noticias-2 {
  background-color: #afaaaa;
  font-family: "Nano Sans Display";
  margin-bottom: 10px;
  padding: 5px;
  margin-top: 0;
  border-bottom: 3px solid black;
  border-left: 3px solid black;
  border-right: 3px solid black;
  text-align: center;
}
.main-noticias .noticias-4 {
  background-color: #afaaaa;
  margin-top: 15px;
  padding: 25px;
  padding-left: 50px;
  border: 2px solid black;
  font-family: "Nano Sans Display";
  font-size: 20px;
  line-height: 25px;
  text-align: justify;
}
.main-noticias .second-new {
  margin-top: 15px;
  background-color: #5a5757;
  border-radius: 4px;
}
.main-noticias .noticias-5 {
  display: flex;
  justify-content: center;
  padding: 10px;
  flex-wrap: wrap;
}
.main-noticias .imagenes-noticias {
  flex: 25%;
  padding: 7px;
}
.main-noticias .carousel {
  margin-left: 100px;
  border: 7px double white;
}

/*Misiones.html*/
.main-misiones .container-misiones {
  background-color: #5a5757;
}
.main-misiones .misiones-1 {
  background-color: #afaaaa;
  padding: 20px;
  margin: 10px;
  border: 2px solid black;
  line-height: 25px;
  font-family: "Nano Sans Display";
  font-size: 20px;
  text-align: justify;
}
.main-misiones .misiones-2 {
  background-color: #afaaaa;
  margin: 10px;
  padding: 20px;
  padding-left: 30px;
  border: 3px solid black;
  font-family: "Nano Sans Display";
  font-size: 20px;
  text-align: justify;
  list-style: decimal;
  line-height: 25px;
}
.main-misiones .carousel {
  margin-left: 100px;
  border: 7px double white;
}

.SalaSuipacha1-2, .SalaSuipacha2-2, .SalaSuipacha3-2, .SalaSuipacha4-2, .SalaSuipacha6-2, .SalaSuipacha8-2, .SalaSuipacha9-2, .SalaTacuari3-2, .SalaTacuari4-2, .SalaTacuari9-2, .Sala1-2, .Sala2-2, .Sala3-2, .Sala4-2, .Sala5-2, .Sala6-2, .Sala7-2 {
  background-color: #afaaaa;
  font-family: "Nano Sans Display";
  font-size: 25px;
  font-style: italic;
  text-align: justify;
  margin: 15px;
  padding: 25px;
  border: 4px solid black;
}

.SalaSuipacha1-1, .SalaSuipacha2-1, .SalaSuipacha3-1, .SalaSuipacha4-1, .SalaSuipacha6-1, .SalaSuipacha8-1, .SalaSuipacha9-1, .SalaTacuari3-1, .SalaTacuari4-1, .SalaTacuari9-1, .Sala1-1, .Sala2-1, .Sala3-1, .Sala4-1, .Sala5-1, .Sala6-1, .Sala7-1 {
  background-color: #afaaaa;
  /*display: inline-block;*/
  display: flex;
  justify-content: center;
  margin: 15px;
  padding: 25px;
  border: 4px solid black;
  /*width: 80%;*/
}

.SalaSuipacha1-0, .SalaSuipacha2-0, .SalaSuipacha3-0, .SalaSuipacha4-0, .SalaSuipacha6-0, .SalaSuipacha8-0, .SalaSuipacha9-0, .SalaTacuari3-0, .SalaTacuari4-0, .SalaTacuari9-0, .Sala1-0, .Sala2-0, .Sala3-0, .Sala4-0, .Sala5-0, .Sala6-0, .Sala7-0 {
  background-color: #afaaaa;
  font-family: "Nano Sans Display";
  text-align: center;
  margin: 15px;
  padding: 25px;
  border: 4px double black;
}

.main-beruti .Beruti0, .main-consulta .encabezado-enlaces, .main-ogaac .encabezado-ogaac, .main-organigrama .encabezado-organigrama, .main-noticias .encabezado-noticias, .main-misiones .encabezado-misiones {
  background-color: #afaaaa;
  font-family: "Nano Sans Display";
  text-align: center;
  margin: 15px;
  padding: 25px;
  border: 4px double black;
}

/*SECCION ACCESO A LA JUSTICIA*/
/*Ogaac.html*/
.main-ogaac .ogaac-container {
  margin-left: 10px;
}
.main-ogaac .ogaac-container .ogaac-imagen {
  background-color: #afaaaa;
  margin: 10px;
  padding: 20px;
  border: 7px double black;
  text-align: center;
}
.main-ogaac .ogaac-container .ogaac-parte-1 {
  background-color: #afaaaa;
  margin: 5px;
  padding: 10px;
  border: 2px solid black;
  font-family: "Nano Sans Display";
  font-size: 18px;
  line-height: 25px;
  text-align: justify;
}
.main-ogaac .ogaac-container .ogaac-parte-2 {
  background-color: #afaaaa;
  margin: 10px;
  padding: 20px;
  padding-left: 30px;
  border: 3px solid black;
  font-family: "Nano Sans Display";
  font-size: 20px;
  text-align: justify;
  list-style: decimal;
  line-height: 25px;
}
.main-ogaac .ogaac-container .ogaac-parte-3 {
  font-family: Arial, Helvetica, sans-serif;
  display: block;
  padding: 0 1.5rem;
  line-height: 1.5rem;
  text-decoration: none;
}

/*Consulta.html - mi idea es que aca haya bottones grandes */
.main-consulta .Enlaces-1 {
  background-color: #afaaaa;
  margin: 10px;
  padding: 20px;
  padding-left: 30px;
  border: 3px solid black;
  font-family: "Nano Sans Display";
  color: white;
  font-size: 18px;
  text-align: justify;
  list-style: decimal;
  line-height: 25px;
  grid-template-columns: 2, 1fr;
  grid-template-rows: 3, 1fr;
  grid-template-areas: "cjmujer ovd" "consejo mpf" "mpd none";
  justify-content: space-between;
}
.main-consulta .Enlaces-1 a {
  color: black;
}
.main-consulta .Enlaces-1 a:hover {
  background-color: #b3a6a6;
}
.main-consulta .Enlaces-1 .cjmujer {
  grid-area: cjmujer;
  margin: 15px;
  height: 100px;
}
.main-consulta .Enlaces-1 .ovd {
  grid-area: ovd;
  margin: 15px;
  height: 100px;
}
.main-consulta .Enlaces-1 .consejo {
  grid-area: consejo;
  margin: 15px;
  height: 100px;
}
.main-consulta .Enlaces-1 .mpf {
  grid-area: mpf;
  margin: 15px;
  height: 100px;
}
.main-consulta .Enlaces-1 .mpd {
  grid-area: mpd;
  margin: 15px;
  height: 100px;
}

/*Guia.html*/
.main-guia .Guia0 {
  background-color: #afaaaa;
  font-family: "Nano sans display";
  text-align: center;
  margin: 15px;
  padding: 25px;
  border: 4px double black;
}
.main-guia .Box-container {
  margin: 20px;
  padding: 15px;
  background-color: #afaaaa;
  font-family: "Nano Sans Display";
  margin-left: 30px;
  padding: 10px;
  border: 3px solid black;
  /*Decidi ponerlos afuera por que modifican tanto a la guia1 como a la guia2*/
}
.main-guia .Box-container .Guia1 {
  background-color: #afaaaa;
  margin: 40px;
  padding: 30px;
  border: 2px solid black;
  font-family: "Nano Sans Display";
  line-height: 25px;
  display: flex;
  /*list-style: circle;*/
  justify-content: space-between;
}
.main-guia .Box-container .Guia1 .Guia1-2 {
  float: left;
}
.main-guia .Box-container .Guia1 .MapaBeruti {
  margin: 20px;
  padding: 25px;
  border: 4px double black;
  /*float: right;*/
  /*display: flex;*/
  /*justify-content: right;*/
}
.main-guia .Box-container .Guia2 {
  background-color: #afaaaa;
  margin: 40px;
  padding: 30px;
  border: 2px solid black;
  font-family: "Nano Sans Display";
  line-height: 25px;
  display: flex;
  /*list-style: circle;*/
  justify-content: space-between;
}
.main-guia .Box-container .Guia2 .Guia2-2 {
  float: left;
  /*width: 50%;
  text-align: justify;*/
}
.main-guia .Box-container .Guia2 .MapaTacuari {
  margin: 20px;
  padding: 10px;
  border: 4px double black;
  /*float: right;*/
  /*display: flex;
  justify-content: right;*/
}
.main-guia .Box-container .Juzgados {
  background-color: #afaaaa;
  margin: 25px;
  padding: 25px;
  border: 2px solid black;
  font-family: "Nano Sans Display";
  line-height: 25px;
  /*list-style:circle;
  text-align: justify;
  display: block;*/
  font-size: 20px;
}
.main-guia .Box-container .NombresJuzgados {
  margin-left: 20px;
}

.SalaSuipacha1-2, .SalaSuipacha2-2, .SalaSuipacha3-2, .SalaSuipacha4-2, .SalaSuipacha6-2, .SalaSuipacha8-2, .SalaSuipacha9-2, .SalaTacuari3-2, .SalaTacuari4-2, .SalaTacuari9-2, .Sala1-2, .Sala2-2, .Sala3-2, .Sala4-2, .Sala5-2, .Sala6-2, .Sala7-2 {
  background-color: #afaaaa;
  font-family: "Nano Sans Display";
  font-size: 25px;
  font-style: italic;
  text-align: justify;
  margin: 15px;
  padding: 25px;
  border: 4px solid black;
}

.SalaSuipacha1-1, .SalaSuipacha2-1, .SalaSuipacha3-1, .SalaSuipacha4-1, .SalaSuipacha6-1, .SalaSuipacha8-1, .SalaSuipacha9-1, .SalaTacuari3-1, .SalaTacuari4-1, .SalaTacuari9-1, .Sala1-1, .Sala2-1, .Sala3-1, .Sala4-1, .Sala5-1, .Sala6-1, .Sala7-1 {
  background-color: #afaaaa;
  /*display: inline-block;*/
  display: flex;
  justify-content: center;
  margin: 15px;
  padding: 25px;
  border: 4px solid black;
  /*width: 80%;*/
}

.SalaSuipacha1-0, .SalaSuipacha2-0, .SalaSuipacha3-0, .SalaSuipacha4-0, .SalaSuipacha6-0, .SalaSuipacha8-0, .SalaSuipacha9-0, .SalaTacuari3-0, .SalaTacuari4-0, .SalaTacuari9-0, .Sala1-0, .Sala2-0, .Sala3-0, .Sala4-0, .Sala5-0, .Sala6-0, .Sala7-0 {
  background-color: #afaaaa;
  font-family: "Nano Sans Display";
  text-align: center;
  margin: 15px;
  padding: 25px;
  border: 4px double black;
}

.main-beruti .Beruti0, .main-organigrama .encabezado-organigrama, .main-noticias .encabezado-noticias, .main-misiones .encabezado-misiones, .main-ogaac .encabezado-ogaac, .main-consulta .encabezado-enlaces {
  background-color: #afaaaa;
  font-family: "Nano Sans Display";
  text-align: center;
  margin: 15px;
  padding: 25px;
  border: 4px double black;
}

/*SECCION SALA DE AUDIENCIAS*/
/*SEDE BERUTI - COMPLETO*/
.main-beruti .Beruti1 {
  background-color: #afaaaa;
  margin: 25px;
  padding: 25px;
  border: 2px solid black;
  font-family: "Nano Sans Display";
  line-height: 25px;
  list-style: circle;
  /*display: inline-block;*/
  /*width: 80%;*/
}
.main-beruti .Beruti1 .InfoInterna {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.main-beruti .Beruti1 .InfoInterna a {
  color: black;
}
.main-beruti .Beruti1 .InfoInterna a:hover {
  background-color: #b3a6a6;
}
.main-beruti .Beruti1 .InfoInterna .Beruti1-2 {
  /*se que es el mismo color que una variable,
  pero preferi que si la cambio este no se modifique*/
  background-color: #ca0808;
  color: white;
  margin: 25px;
  padding: 25px;
  border: 2px solid black;
  font-family: "Nano Sans Display";
  line-height: 25px;
  list-style: circle;
  /*text-align: justify;
  display: block;*/
  font-size: 20px;
}

/*Salas*/
.SalaImagen {
  margin: 5px;
  padding: 8px;
  border: 2px double black;
}

.Sala1-4, .Sala2-4, .Sala3-4, .Sala4-4, .Sala5-4, Sala6-4, .Sala7-4 {
  margin: 40px;
}

.SalaSuipacha1-2, .SalaSuipacha2-2, .SalaSuipacha3-2, .SalaSuipacha4-2, .SalaSuipacha6-2, .SalaSuipacha8-2, .SalaSuipacha9-2, .SalaTacuari3-2, .SalaTacuari4-2, .SalaTacuari9-2, .Sala1-2, .Sala2-2, .Sala3-2, .Sala4-2, .Sala5-2, .Sala6-2, .Sala7-2 {
  background-color: #afaaaa;
  font-family: "Nano Sans Display";
  font-size: 25px;
  font-style: italic;
  text-align: justify;
  margin: 15px;
  padding: 25px;
  border: 4px solid black;
}

.SalaSuipacha1-1, .SalaSuipacha2-1, .SalaSuipacha3-1, .SalaSuipacha4-1, .SalaSuipacha6-1, .SalaSuipacha8-1, .SalaSuipacha9-1, .SalaTacuari3-1, .SalaTacuari4-1, .SalaTacuari9-1, .Sala1-1, .Sala2-1, .Sala3-1, .Sala4-1, .Sala5-1, .Sala6-1, .Sala7-1 {
  background-color: #afaaaa;
  /*display: inline-block;*/
  display: flex;
  justify-content: center;
  margin: 15px;
  padding: 25px;
  border: 4px solid black;
  /*width: 80%;*/
}

.SalaSuipacha1-0, .SalaSuipacha2-0, .SalaSuipacha3-0, .SalaSuipacha4-0, .SalaSuipacha6-0, .SalaSuipacha8-0, .SalaSuipacha9-0, .SalaTacuari3-0, .SalaTacuari4-0, .SalaTacuari9-0, .Sala1-0, .Sala2-0, .Sala3-0, .Sala4-0, .Sala5-0, .Sala6-0, .Sala7-0 {
  background-color: #afaaaa;
  font-family: "Nano Sans Display";
  text-align: center;
  margin: 15px;
  padding: 25px;
  border: 4px double black;
}

.main-organigrama .encabezado-organigrama, .main-noticias .encabezado-noticias, .main-misiones .encabezado-misiones, .main-ogaac .encabezado-ogaac, .main-consulta .encabezado-enlaces, .main-beruti .Beruti0 {
  background-color: #afaaaa;
  font-family: "Nano Sans Display";
  text-align: center;
  margin: 15px;
  padding: 25px;
  border: 4px double black;
}

/*SEDE TACUARI - COMPLETO*/
.main-tacuari .Tacuari0 {
  background-color: #afaaaa;
  font-family: "Nano Sans Display";
  text-align: center;
  margin: 15px;
  padding: 25px;
  border: 4px double black;
}
.main-tacuari .Tacuari1 {
  background-color: #afaaaa;
  margin: 25px;
  padding: 25px;
  border: 2px solid black;
  font-family: "Nano Sans Display";
  line-height: 25px;
  list-style: circle;
  /*display: inline-block;
  width: 80%;*/
}
.main-tacuari .Tacuari1 .InfoInterna {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.main-tacuari .Tacuari1 .InfoInterna a {
  color: black;
}
.main-tacuari .Tacuari1 .InfoInterna a:hover {
  background-color: #b3a6a6;
}
.main-tacuari .Tacuari1 .InfoInterna .Tacuari1-2 {
  background-color: #ca0808;
  color: white;
  margin: 25px;
  padding: 25px;
  border: 2px solid black;
  font-family: "Nano Sans Display";
  line-height: 25px;
  list-style: circle;
  /*text-align: justify;
  display: block;*/
  font-size: 20px;
}

/*.Tacuari1-1, .MapaTacuari{
    display: inline-block;
}*/
/*Salas*/
.SalaImagen {
  margin: 5px;
  padding: 8px;
  border: 2px double black;
}

.SalaTacuari3-4, .SalaTacuari4-4, .SalaTacuari9-4 {
  margin: 40px;
}

.SalaSuipacha1-2, .SalaSuipacha2-2, .SalaSuipacha3-2, .SalaSuipacha4-2, .SalaSuipacha6-2, .SalaSuipacha8-2, .SalaSuipacha9-2, .Sala1-2, .Sala2-2, .Sala3-2, .Sala4-2, .Sala5-2, .Sala6-2, .Sala7-2, .SalaTacuari3-2, .SalaTacuari4-2, .SalaTacuari9-2 {
  background-color: #afaaaa;
  font-family: "Nano Sans Display";
  font-size: 25px;
  font-style: italic;
  text-align: justify;
  margin: 15px;
  padding: 25px;
  border: 4px solid black;
}

.SalaSuipacha1-1, .SalaSuipacha2-1, .SalaSuipacha3-1, .SalaSuipacha4-1, .SalaSuipacha6-1, .SalaSuipacha8-1, .SalaSuipacha9-1, .Sala1-1, .Sala2-1, .Sala3-1, .Sala4-1, .Sala5-1, .Sala6-1, .Sala7-1, .SalaTacuari3-1, .SalaTacuari4-1, .SalaTacuari9-1 {
  background-color: #afaaaa;
  /*display: inline-block;*/
  display: flex;
  justify-content: center;
  margin: 15px;
  padding: 25px;
  border: 4px solid black;
  /*width: 80%;*/
}

.SalaSuipacha1-0, .SalaSuipacha2-0, .SalaSuipacha3-0, .SalaSuipacha4-0, .SalaSuipacha6-0, .SalaSuipacha8-0, .SalaSuipacha9-0, .Sala1-0, .Sala2-0, .Sala3-0, .Sala4-0, .Sala5-0, .Sala6-0, .Sala7-0, .SalaTacuari3-0, .SalaTacuari4-0, .SalaTacuari9-0 {
  background-color: #afaaaa;
  font-family: "Nano Sans Display";
  text-align: center;
  margin: 15px;
  padding: 25px;
  border: 4px double black;
}

.main-organigrama .encabezado-organigrama, .main-noticias .encabezado-noticias, .main-misiones .encabezado-misiones, .main-ogaac .encabezado-ogaac, .main-consulta .encabezado-enlaces, .main-beruti .Beruti0 {
  background-color: #afaaaa;
  font-family: "Nano Sans Display";
  text-align: center;
  margin: 15px;
  padding: 25px;
  border: 4px double black;
}

/*SEDE SUIPACHA- COMLETO*/
.main-suipacha .Suipacha0 {
  background-color: #afaaaa;
  font-family: "Nano Sans Display";
  text-align: center;
  margin: 15px;
  padding: 25px;
  border: 4px double black;
}
.main-suipacha .Suipacha1 {
  background-color: #afaaaa;
  margin: 25px;
  padding: 25px;
  border: 2px solid black;
  font-family: "Nano Sans Display";
  line-height: 25px;
  list-style: circle;
  /*display: inline-block;
  width: 80%;*/
}
.main-suipacha .Suipacha1 .InfoInterna {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.main-suipacha .Suipacha1 .InfoInterna a {
  color: black;
}
.main-suipacha .Suipacha1 .InfoInterna a:hover {
  background-color: #b3a6a6;
}
.main-suipacha .Suipacha1 .InfoInterna .Suipacha1-2 {
  background-color: #ca0808;
  color: white;
  margin: 25px;
  padding: 25px;
  border: 2px solid black;
  font-family: "Nano Sans Display";
  line-height: 25px;
  list-style: circle;
  /* text-align: justify;
  display: block;*/
  font-size: 20px;
}
.main-suipacha .Suipacha1 .InfoInterna .MapaSuipacha {
  margin: 20px;
  padding: 25px;
  border: 4px double black;
  float: right;
}

/*Salas*/
.SalaImagen {
  margin: 5px;
  padding: 8px;
  border: 2px double black;
}

.SalaSuipacha1-4, .SalaSuipacha2-4, .SalaSuipacha3-4, .SalaSuipacha4-4, .SalaSuipacha6-4, .SalaSuipacha8-4, .SalaSuipacha9-4 {
  margin: 40px;
}

.Sala1-2, .Sala2-2, .Sala3-2, .Sala4-2, .Sala5-2, .Sala6-2, .Sala7-2, .SalaTacuari3-2, .SalaTacuari4-2, .SalaTacuari9-2, .SalaSuipacha1-2, .SalaSuipacha2-2, .SalaSuipacha3-2, .SalaSuipacha4-2, .SalaSuipacha6-2, .SalaSuipacha8-2, .SalaSuipacha9-2 {
  background-color: #afaaaa;
  font-family: "Nano Sans Display";
  font-size: 25px;
  font-style: italic;
  text-align: justify;
  margin: 15px;
  padding: 25px;
  border: 4px solid black;
}

.Sala1-1, .Sala2-1, .Sala3-1, .Sala4-1, .Sala5-1, .Sala6-1, .Sala7-1, .SalaTacuari3-1, .SalaTacuari4-1, .SalaTacuari9-1, .SalaSuipacha1-1, .SalaSuipacha2-1, .SalaSuipacha3-1, .SalaSuipacha4-1, .SalaSuipacha6-1, .SalaSuipacha8-1, .SalaSuipacha9-1 {
  background-color: #afaaaa;
  /*display: inline-block;*/
  display: flex;
  justify-content: center;
  margin: 15px;
  padding: 25px;
  border: 4px solid black;
  /*width: 80%;*/
}

.Sala1-0, .Sala2-0, .Sala3-0, .Sala4-0, .Sala5-0, .Sala6-0, .Sala7-0, .SalaTacuari3-0, .SalaTacuari4-0, .SalaTacuari9-0, .SalaSuipacha1-0, .SalaSuipacha2-0, .SalaSuipacha3-0, .SalaSuipacha4-0, .SalaSuipacha6-0, .SalaSuipacha8-0, .SalaSuipacha9-0 {
  background-color: #afaaaa;
  font-family: "Nano Sans Display";
  text-align: center;
  margin: 15px;
  padding: 25px;
  border: 4px double black;
}

.main-organigrama .encabezado-organigrama, .main-noticias .encabezado-noticias, .main-misiones .encabezado-misiones, .main-ogaac .encabezado-ogaac, .main-consulta .encabezado-enlaces, .main-beruti .Beruti0 {
  background-color: #afaaaa;
  font-family: "Nano Sans Display";
  text-align: center;
  margin: 15px;
  padding: 25px;
  border: 4px double black;
}

body {
  height: 100%;
  font-family: "Nano Sans Display";
  background-color: #7a7879;
}

.contact_form {
  width: 660px;
  height: auto;
  margin: 35px auto;
  border-radius: 10px;
  border: 8px double black;
  padding-top: 30px;
  padding-bottom: 20px;
  background-color: white;
  padding-left: 30px;
}
.contact_form p {
  font-size: 14px;
  color: #0e0e0e;
  font-size: 15px;
}
.contact_form p label {
  display: block;
  float: center;
}
.contact_form p input {
  background-color: white;
  width: 550px;
  height: 40px;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: black;
  margin-top: 10px;
  padding-left: 10px;
  margin-bottom: 20px;
}
.contact_form p textarea {
  background-color: white;
  width: 550px;
  height: 150px;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: black;
  margin-top: 10px;
  padding-left: 10px;
  margin-bottom: 20px;
  padding-top: 15px;
}
.contact_form button {
  height: 45px;
  padding-left: 5px;
  padding-right: 5px;
  margin-bottom: 20px;
  margin-top: 10px;
  text-transform: uppercase;
  background-color: #610303;
  border-color: #990606;
  border-style: solid;
  border-radius: 10px;
  width: 550px;
  cursor: pointer;
}
.contact_form button p {
  color: #fff;
}
.contact_form span {
  color: black;
}
.contact_form .aviso {
  font-size: 13px;
  color: #0e0e0e;
}
.contact_form h1 {
  font-size: 49px;
  text-align: letf;
  padding-bottom: 20px;
  color: black;
}
.contact_form h3 {
  font-size: 18px;
  padding-bottom: 30px;
  color: #0e0e0e;
}
.contact_form ::-webkit-input-placeholder {
  color: #a8a8a8;
}
.contact_form ::-webkit-textarea-placeholder {
  color: #a8a8a8;
}
.contact_form .formulario input:focus {
  outline: 0;
  border: 1px solid #afaaaa;
}
.contact_form .formulario textarea:focus {
  outline: 0;
  border: 1px solid #afaaaa;
}

.Sala1-2, .Sala2-2, .Sala3-2, .Sala4-2, .Sala5-2, .Sala6-2, .Sala7-2, .SalaTacuari3-2, .SalaTacuari4-2, .SalaTacuari9-2, .SalaSuipacha1-2, .SalaSuipacha2-2, .SalaSuipacha3-2, .SalaSuipacha4-2, .SalaSuipacha6-2, .SalaSuipacha8-2, .SalaSuipacha9-2 {
  background-color: #afaaaa;
  font-family: "Nano Sans Display";
  font-size: 25px;
  font-style: italic;
  text-align: justify;
  margin: 15px;
  padding: 25px;
  border: 4px solid black;
}

.Sala1-1, .Sala2-1, .Sala3-1, .Sala4-1, .Sala5-1, .Sala6-1, .Sala7-1, .SalaTacuari3-1, .SalaTacuari4-1, .SalaTacuari9-1, .SalaSuipacha1-1, .SalaSuipacha2-1, .SalaSuipacha3-1, .SalaSuipacha4-1, .SalaSuipacha6-1, .SalaSuipacha8-1, .SalaSuipacha9-1 {
  background-color: #afaaaa;
  /*display: inline-block;*/
  display: flex;
  justify-content: center;
  margin: 15px;
  padding: 25px;
  border: 4px solid black;
  /*width: 80%;*/
}

.Sala1-0, .Sala2-0, .Sala3-0, .Sala4-0, .Sala5-0, .Sala6-0, .Sala7-0, .SalaTacuari3-0, .SalaTacuari4-0, .SalaTacuari9-0, .SalaSuipacha1-0, .SalaSuipacha2-0, .SalaSuipacha3-0, .SalaSuipacha4-0, .SalaSuipacha6-0, .SalaSuipacha8-0, .SalaSuipacha9-0 {
  background-color: #afaaaa;
  font-family: "Nano Sans Display";
  text-align: center;
  margin: 15px;
  padding: 25px;
  border: 4px double black;
}

.main-organigrama .encabezado-organigrama, .main-noticias .encabezado-noticias, .main-misiones .encabezado-misiones, .main-ogaac .encabezado-ogaac, .main-consulta .encabezado-enlaces, .main-beruti .Beruti0 {
  background-color: #afaaaa;
  font-family: "Nano Sans Display";
  text-align: center;
  margin: 15px;
  padding: 25px;
  border: 4px double black;
}

/*Generales*/
body {
  background-color: #7a7879;
}
body a {
  color: black;
  line-height: 27px;
}
body a:hover {
  background-color: #ca0808;
  color: black;
  padding: 8px;
  margin: 5px;
}
@media screen and (min-width: 961px) {
  body main {
    background-color: white;
  }
  body header {
    background-color: #990606;
  }
  body .Tacuari1-2, body .Suipacha1-2, body .Beruti1-2 {
    width: 350px;
  }
  body .MapaTacuari {
    width: 460px;
    height: 350px;
  }
  body .MapaSuipacha, body .MapaBeruti {
    width: 560px;
    height: 450px;
  }
}
@media screen and (min-width: 768px) and (max-width: 960px) {
  body main {
    background-color: black;
  }
  body header {
    background-color: #530b0b;
  }
  body .Tacuari1-2, body .Suipacha1-2, body .Beruti1-2 {
    width: 300px;
  }
  body .MapaTacuari, body .MapaSuipacha, body .MapaBeruti {
    width: 360px;
    height: 250px;
  }
}
@media screen and (max-width: 767px) {
  body .Tacuari1-2, body .Suipacha1-2, body .Beruti1-2 {
    width: 200px;
  }
  body .MapaTacuari, body .MapaSuipacha, body .MapaBeruti, body .noticias-3 {
    display: none;
  }
  body .cjmujer, body .consejo, body .mpf, body .mpd {
    font-size: 12px;
  }
  body .ovd {
    font-size: x-small;
  }
}

/*# sourceMappingURL=style.css.map */
