/*Index.html*/

.grid-container{
    display: grid;
    grid-template-columns: (2,1fr);
    grid-template-rows: (3, 1fr);
    grid-template-areas: 
    'seccion1 seccion1'
    'seccion2 seccion3'
    'seccion4 seccion4';
    .seccion1{ 
        background-color: rgb(175, 170, 170);
            font-family: Arial, Helvetica, sans-serif;
            color: white;
            display: flex;
            text-align: justify;
            text-size-adjust: 60%;
            margin: 5px;
            padding: 10px;
            border: 2px solid black;
            font-size: 20px;
            line-height: 25px;
            /*width: 90%;*/
            grid-area: seccion1;
    }
        
    .imagenlogo{
            margin-right: 20px;
        }
    
    .texto1{
            padding: 30px;
            padding-top: 35px;
    }
    
    h4, h3, h2{
            text-decoration: underline;
            color: black;
            font-style: italic;
    }
    
    p{
            color: black;
    }
    
    .seccion2{
            background-color: rgb(175, 170, 170);
            font-family: Arial, Helvetica, sans-serif;
            color: white;
            list-style: none;
            display: block;
            margin: 10px;
            padding: 20px;
            line-height: 0,5rem;
            border: 2px solid black;
           /*width: 40%;*/
           float: left;
           font-size: 20px;
           grid-area: seccion2;
    }
    
    .seccion3{
            background-color: rgb(175, 170, 170);
            font-family: Arial, Helvetica, sans-serif;
            color: white;
            display: inline;
            padding: 20px;
            text-align: center;
            /*width: 40%;*/
            border: 2px solid black;
            float: right;
            margin: 30px;
            padding-bottom: 43px;
            grid-area: seccion3;
        
    }

    .seccion-4{
        background-color: rgb(175, 170, 170);
        font-family: Arial, Helvetica, sans-serif;
        color: white;
        display: block;
        text-align: justify;
        margin: 10px;
        /*margin-top: 200px;*/
        padding: 10px;
        padding-top: 10px;
      
        border: 2px solid black;
        font-size: 20px;
        line-height: 25px;
        grid-area: seccion4;
}
}