*{
    margin:0% ;
padding: 0%;
border: none;

}
/*Corresponde al Bienvenido.html*/

.unique{
        background-color: rgb(97, 3, 3);
}

.container{
        border-radius: 6px;
        /*height: 800px;
        width: 1500px;*/
        margin: 80px auto;
        display: grid;
        background-color: black;
        grid-template-columns: (2, 1fr);
        grid-template-rows: (2, 1fr);
        grid-template-areas: 
        'image1 image2'
        'image3 image3';
}
.animate__fadeIn{
        animation-duration: 1.5s;
}

.image1{
        border: 5px double white;
        margin: 70px;
        padding: 25px;
        grid-area: image1;
}
.animate__fadeInLeft{
        animation-duration: 4s;
}
.image2{
        border: 5px double white;
        margin: 20px;
        padding: 25px;    
        grid-area: image2;
}
.animate__fadeInRight{
        animation-duration: 4s;
}
.image3{
        margin: 20px;
        padding: 5px;
        grid-area: image3;
        color: white;
        font-size: 40px;
        font-family: Arial, Helvetica, sans-serif;
        text-align: center;
        line-height: 60px;
}
.animate__fadeInUp{
        animation-duration: 4s;
        
}
.image3 a{
        color: white;
        margin-top: 7px;
}
.image3 a:hover{
        background-color: white;
        padding: 8px;
        margin: 5px;
        transition: all 2s;
        transform: scale(4)
}

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Display:wght@300&family=Roboto+Mono:ital,wght@0,200;1,300&display=swap');
/*font-family: 'Noto Sans Display', sans-serif;
font-family: 'Roboto Mono', monospace;*/


body{
    background-color: rgb(122, 120, 120);
}

/*Lo ideal es que la imagen de fondo */
/*Desktop*/
@media screen and (min-width: 961px){
     main{
        background-color: white;}   
      header{
        background-color: rgb(153, 6, 6);}
}
 

/*Tablet*/
@media screen and (min-width: 481px) and (max-width:960px){
        main{
        background-color: black;}
        header{
        background-color: rgb(83, 11, 11);}
}

a{
        color:black;
        line-height: 27px;
        
}
a:hover{
        background-color: salmon;
        color: black;
        padding: 8px;
        margin: 5px;

}

/*Correspondiente al Header - mi idea es hacer 
un menu desplegable*/

header{
    
    padding: 10px;
    border: 8px solid black;
    line-height: 15px;
     }
    

.MenuGral{

    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    font-size: 14px;
    color: white;
}

.Meenu{ 
   
   list-style: none;
   font-size: 0;
   float: right;
   background-color: rgb(97, 3, 3);
   margin-top: 20px;
   display: flex;
   justify-content:space-between
}


.Interno{
   
    display: inline-block;
    color: white;
    width: 15%;
    position: relative;
    text-align: center;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 8px;
    background-color: rgb(97, 3, 3);
}

.subitem{
        margin-left: 7px;
        margin-right: 8px;
}
.Meenu .Lista{
        position: absolute;
        display: none;
        color: white;
        line-height: 20px;
}
.Meenu .Lista .subitem{
        display: block;
}
.Meenu .Interno:hover .Lista{
        display: block;
        background-color: rgb(97, 3, 3);
        color: white;
        
}

/*Correspondiente al body*/
/*La idea es que cada seccion tenga como su caja dentro del index*/
/*Index*/


.grid-container{
        display: grid;
        grid-template-columns: (2,1fr);
        grid-template-rows: (3, 1fr);
        grid-template-areas: 
        'seccion1 seccion1'
        'seccion2 seccion3'
        'seccion4 seccion4';
}
.seccion1{ 
    background-color: rgb(175, 170, 170);
        font-family: Arial, Helvetica, sans-serif;
        color: white;
        display: flex;
        text-align: justify;
        text-size-adjust: 60%;
        margin: 5px;
        padding: 10px;
        border: 2px solid black;
        font-size: 20px;
        line-height: 25px;
        /*width: 90%;*/
        grid-area: seccion1;
}
    
.imagenlogo{
        margin-right: 20px;
    }

.texto1{
        padding: 30px;
        padding-top: 35px;
}

h4, h3, h2{
        text-decoration: underline;
        color: black;
        font-style: italic;
}

p{
        color: black;
}

.seccion2{
        background-color: rgb(175, 170, 170);
        font-family: Arial, Helvetica, sans-serif;
        color: white;
        list-style: none;
        display: block;
        margin: 10px;
        padding: 20px;
        line-height: 0,5rem;
        border: 2px solid black;
       /*width: 40%;*/
       float: left;
       font-size: 20px;
       grid-area: seccion2;
}

.seccion3{
        background-color: rgb(175, 170, 170);
        font-family: Arial, Helvetica, sans-serif;
        color: white;
        display: inline;
        padding: 20px;
        text-align: center;
        /*width: 40%;*/
        border: 2px solid black;
        float: right;
        margin: 30px;
        padding-bottom: 43px;
        grid-area: seccion3;
    
}
 /*No se por que me toma tanto la caja de la seccion 4*/
.seccion-4{
        background-color: rgb(175, 170, 170);
        font-family: Arial, Helvetica, sans-serif;
        color: white;
        display: block;
        text-align: justify;
        margin: 10px;
        /*margin-top: 200px;*/
        padding: 10px;
        padding-top: 10px;
      
        border: 2px solid black;
        font-size: 20px;
        line-height: 25px;
        grid-area: seccion4;
}

/*SECCION INSTITUCIONAL*/
/*Organigrama.html*/

.organigrama-1{
        background-color: rgb(175, 170, 170);
        margin: 20px;
        margin-top: 10px;
        padding: 20px;
        padding-top: 10px;
        border: 2px solid black;
        line-height: 23px;
        font-family: 'Noto Sans Display';
        font-size: 20px;
        text-align: justify;
        
}

.imagen-organigrama{
        margin-top: 10px;
        margin-bottom: 15px;
}

strong{
        text-decoration: underline;
        font-style: italic;
}
.organigrama-2{
        background-color: rgb(175, 170, 170);
        margin: 25px;
        padding: 25px;
        border: 2px solid black;
        font-family: 'Noto Sans Display';
        font-size: 20px;
        line-height: 25px;
        list-style: circle;
}

/*Misiones.html*/

.container-misiones{
        background-color: rgb(90, 87, 87);
}

.misiones-1{
        background-color: rgb(175, 170, 170);
        padding: 20px;
        margin: 10px;
        border: 2px solid black;
        line-height: 25px;
        font-family: 'Nano Sans Display';
        font-size: 20px;
        text-align: justify;
}

.misiones-2{
        background-color: rgb(175, 170, 170);
        margin: 10px;
        padding: 20px;
        padding-left: 30px;
        border: 3px solid black;
        font-family: 'nano sans display';
        font-size: 20px;
        text-align: justify;
        list-style: decimal;
        line-height: 25px;
}

/*noticias.html*/

.first-new{
        background-color: rgb(90, 87, 87);
        border-radius: 4px;
}
.noticias-1{
        border-top: 3px solid black;
        border-left: 3px solid black;
        border-right: 3px solid black;
        margin-top: 10px;
        margin-bottom: 0 ;
        text-align: center;
}
.noticias-2{
        margin-top: 0;
        border-bottom: 3px solid black;
        border-left: 3px solid black;
        border-right: 3px solid black;
        text-align: center;
}
.noticias-1, .noticias-2{
        background-color: rgb(175, 170, 170);
        font-family: 'Nano Sans Display';
        margin-bottom: 10px;
        padding: 5px;
}

.noticias-3{
        background-color: rgb(175, 170, 170);
        margin: 20px;
        margin-bottom: 5px;
        padding: 15px;
        border: 6px double black;
        position: static;
}

.noticias-4{
        background-color: rgb(175, 170, 170);
        margin-top: 15px;
        padding: 25px;
        padding-left: 50px;
        border: 2px solid black;
        font-family: 'Noto Sans Display';
        font-size: 20px;
        line-height: 25px;
        text-align: justify;
}

.noticias-5{
        display: flex;
        justify-content: center;
        padding: 10px;
        flex-wrap: wrap;
}
.imagenes-noticias{
        flex: 25%;
        padding: 7px;
}

.second-new{
        margin-top: 15px;
        background-color: rgb(90, 87, 87);
        border-radius: 4px;
}
.carousel{
        margin-left: 100px;
        border: 7px double white;
}

/*SECCION ACCESO A LA JUSTICIA*/
/*Ogaac.html*/

.ogaac-container{
        margin-left: 10px;
}
.ogaac-imagen{
        background-color: rgb(175, 170, 170);
        margin: 10px;
        padding: 20px;
        border: 7px double black;
        text-align: center;
        
}

.ogaac-parte-1{
        background-color: rgb(175, 170, 170);
        margin: 5px;
        padding: 10px;
        border: 2px solid black;
        font-family: 'nano sans  display';
        font-size: 18px;
        line-height: 25px;
        text-align: justify;

}


.ogaac-parte-3{
        font-family: Arial, Helvetica, sans-serif;
        display: block;
        padding:0 1.5rem;
        line-height: 1.5rem;
        text-decoration: none;
}

.ogaac-parte-2{
        background-color: rgb(175, 170, 170);
        margin: 10px;
        padding: 20px;
        padding-left: 30px;
        border: 3px solid black;
        font-family: 'nano sans display';
        font-size: 20px;
        text-align: justify;
        list-style: decimal;
        line-height: 25px;
}

    
/*Consulta.html - mi idea es que aca haya bottones grandes */
.Enlaces-1{
        background-color: rgb(175, 170, 170);
        margin: 10px;
        padding: 20px;
        padding-left: 30px;
        border: 3px solid black;
        font-family: 'nano sans display';
        color: white;
        font-size: 18px;
        text-align: justify;
        list-style: decimal;
        line-height: 25px;
        grid-template-columns: (2, 1fr);
        grid-template-rows: (3, 1fr);
        grid-template-areas: 
        'cjmujer ovd'
        'consejo mpf'
        'mpd none';
        justify-content: space-between;
}

.Enlaces-1 a{
        color: black;
}

.Enlaces-1 a:hover{
        background-color: rgb(179, 166, 166);
}


.cjmujer{
        grid-area: cjmujer;
        margin: 15px;
        height: 100px;
}
.ovd{
        grid-area: ovd;
        margin: 15px;
        height: 100px;
}

.consejo{
        grid-area: consejo;
        margin: 15px;
        height: 100px;
}

.mpf{
        grid-area: mpf;
        margin: 15px;
        height: 100px;
}

.mpd{
        grid-area: mpd;
        margin: 15px;
        height: 100px;
}

/*Guia.html*/

.Guia0{
        background-color: rgb(175, 170, 170);
        font-family: 'Nano sans display';
        text-align: center;
        margin: 15px;
        padding: 25px;
        border: 4px double black;
        
}
.Guia1{
        background-color: rgb(175, 170, 170);
        margin: 40px;
        padding: 30px;
        border: 2px solid black;
        font-family: 'Noto Sans Display';
        line-height: 25px;
        display: flex;
        /*list-style: circle;*/ 
        justify-content: space-between;
        
        
}


/*.First-item{
        order: 1;
}*/
.Guia2{
        background-color: rgb(175, 170, 170);
        margin: 40px;
        padding: 30px;
        border: 2px solid black;
        font-family: 'Noto Sans Display';
        line-height: 25px;
        display: flex;
        /*list-style: circle;*/
        justify-content: space-between;
      
}

.Box-container{
        margin: 20px;
        padding: 15px;
        background-color: rgb(175, 170, 170);
        font-family: 'Noto sans display';
        margin-left: 30px;
        padding: 10px;
        border: 3px solid black;
}
.Guia1-2{
        float: left;
}
.MapaBeruti{
        margin: 20px;
        padding: 25px;
        border: 4px double black;
        /*float: right;*/
        /*display: flex;*/
        /*justify-content: right;*/
}

.Guia2-2{
        float: left;
        /*width: 50%;
        text-align: justify;*/
}
.MapaTacuari{
        margin: 20px;
        padding: 10px;
        border: 4px double black;
        /*float: right;*/
        /*display: flex;
        justify-content: right;*/
}

.Juzgados{
        background-color: rgb(175, 170, 170);
        margin: 25px;
        padding: 25px;
        border: 2px solid black;
        font-family: 'Noto Sans Display';
        line-height: 25px;
        /*list-style:circle;
        text-align: justify;
        display: block;*/
        font-size: 20px;
}

.NombresJuzgados{
        margin-left: 20px;
}

/*SECCION SALA DE AUDIENCIAS*/
/*SEDE BERUTI - COMPLETO*/

.Beruti0{
        background-color: rgb(175, 170, 170);
        font-family: 'Nano sans display';
        text-align: center;
        margin: 15px;
        padding: 25px;
        border: 4px double black;
}

.Beruti1{
        background-color: rgb(175, 170, 170);
        margin: 25px;
        padding: 25px;
        border: 2px solid black;
        font-family: 'Noto Sans Display';
        line-height: 25px;
        list-style: circle;
        /*display: inline-block;*/
       
        /*width: 80%;*/
}

.InfoInterna{
        display: flex;
        justify-content: space-around;
        align-items: center;

}

.InfoInterna a{
        color: black;
}

.InfoInterna a:hover{
        background-color: rgb(179, 166, 166);
}

.Beruti1-2{
        background-color: rgb(153, 6, 6);
        color: white;
        margin: 25px;
        padding: 25px;
        border: 2px solid black;
        font-family: 'Noto Sans Display';
        line-height: 25px;
        list-style:circle;
        /*text-align: justify;
        display: block;*/
        font-size: 20px;
        width: 350px;
} 



/*.Beruti1-1, .MapaBeruti{
        display: inline-block;
}*/

/*Salas*/

.SalaImagen{
        margin: 5px;
        padding: 8px;
        border: 2px double black;
}

.Sala1-0, .Sala2-0, .Sala3-0, .Sala4-0, .Sala5-0, .Sala6-0, .Sala7-0{
        background-color: rgb(175, 170, 170);
        font-family: 'Nano sans display';
        text-align: center;
        margin: 15px;
        padding: 25px;
        border: 4px double black;
}

.Sala1-1, .Sala2-1, .Sala3-1, .Sala4-1, .Sala5-1, .Sala6-1, .Sala7-1{
        background-color: rgb(175, 170, 170);
        /*display: inline-block;*/
        display: flex;
        justify-content: center;
        margin: 15px;
        padding: 25px;
        border: 4px solid black;
        /*width: 80%;*/
}

.Sala1-2, .Sala2-2, .Sala3-2, .Sala4-2, .Sala5-2, .Sala6-2, .Sala7-2{
        background-color: rgb(175, 170, 170);
        font-family: 'Nano sans display';
        font-size: 25px;
        font-style: italic;
        text-align: justify;
        margin: 15px;
        padding: 25px;
        border: 4px solid black;
}

.Sala1-4, .Sala2-4, .Sala3-4, .Sala4-4, .Sala5-4, Sala6-4, .Sala7-4{
        margin: 40px;
}
/*SEDE TACUARI - COMPLETO*/

.Tacuari0{
        background-color: rgb(175, 170, 170);
        font-family: 'Nano sans display';
        text-align: center;
        margin: 15px;
        padding: 25px;
        border: 4px double black;
}

.Tacuari1{
        background-color: rgb(175, 170, 170);
        margin: 25px;
        padding: 25px;
        border: 2px solid black;
        font-family: 'Noto Sans Display';
        line-height: 25px;
        list-style: circle;
        /*display: inline-block;
        width: 80%;*/
}

.Tacuari1-2{
        background-color: rgb(153, 6, 6);
        color: white;
        margin: 25px;
        padding: 25px;
        border: 2px solid black;
        font-family: 'Noto Sans Display';
        line-height: 25px;
        list-style:circle;
        /*text-align: justify;
        display: block;*/
        font-size: 20px;
        width: 350px;
} 

/*.Tacuari1-1, .MapaTacuari{
        display: inline-block;
}*/


/*Salas*/

.SalaImagen{
        margin: 5px;
        padding: 8px;
        border: 2px double black;
}

.SalaTacuari3-0, .SalaTacuari4-0, .SalaTacuari9-0{
        background-color: rgb(175, 170, 170);
        font-family: 'Nano sans display';
        text-align: center;
        margin: 15px;
        padding: 25px;
        border: 4px double black;
}

.SalaTacuari3-1, .SalaTacuari4-1, .SalaTacuari9-1{
        background-color: rgb(175, 170, 170);
        /*display: inline-block;*/
        margin: 15px;
        padding: 25px;
        border: 4px solid black;
        display: flex;
        justify-content: center;
        /*width: 80%;*/
}

.SalaTacuari3-2, .SalaTacuari4-2, .SalaTacuari9-2{
        background-color: rgb(175, 170, 170);
        font-family: 'Nano sans display';
        font-size: 25px;
        font-style: italic;
        text-align: justify;
        margin: 15px;
        padding: 25px;
        border: 4px solid black;
}

.SalaTacuari3-4, .SalaTacuari4-4, .SalaTacuari9-4{
        margin: 40px;
}

/*SEDE SUIPACHA- COMLETO*/

.Suipacha0{
        background-color: rgb(175, 170, 170);
        font-family: 'Nano sans display';
        text-align: center;
        margin: 15px;
        padding: 25px;
        border: 4px double black;
}

.Suipacha1{
        background-color: rgb(175, 170, 170);
        margin: 25px;
        padding: 25px;
        border: 2px solid black;
        font-family: 'Noto Sans Display';
        line-height: 25px;
        list-style: circle;
        /*display: inline-block;
        width: 80%;*/
}

.Suipacha1-2{
        background-color: rgb(153, 6, 6);
        color: white;
        margin: 25px;
        padding: 25px;
        border: 2px solid black;
        font-family: 'Noto Sans Display';
        line-height: 25px;
        list-style:circle;
       /* text-align: justify;
        display: block;*/
        font-size: 20px;
        width: 350px;
}

.MapaSuipacha{
        margin: 20px;
        padding: 25px;
        border: 4px double black;
        float: right;
        display: block;
}

/*.Suipacha1-1, .MapaSuipacha{
        display: inline-block;
}*/

/*Salas*/

.SalaImagen{
        margin: 5px;
        padding: 8px;
        border: 2px double black;
}

.SalaSuipacha1-0, .SalaSuipacha2-0, .SalaSuipacha3-0, .SalaSuipacha4-0, .SalaSuipacha6-0, .SalaSuipacha8-0, .SalaSuipacha9-0{
        background-color: rgb(175, 170, 170);
        font-family: 'Nano sans display';
        text-align: center;
        margin: 15px;
        padding: 25px;
        border: 4px double black;
}

.SalaSuipacha1-1, .SalaSuipacha2-1, .SalaSuipacha3-1, .SalaSuipacha4-1, .SalaSuipacha6-1, .SalaSuipacha8-1, .SalaSuipacha9-1{
        background-color: rgb(175, 170, 170);
        /*display: inline-block;*/
        display: flex;
        justify-content: center;
        margin: 15px;
        padding: 25px;
        border: 4px solid black;
        /*width: 80%;*/
}

.SalaSuipacha1-2, .SalaSuipacha2-2, .SalaSuipacha3-2, .SalaSuipacha4-2, .SalaSuipacha6-2, .SalaSuipacha8-2, .SalaSuipacha9-2{
        background-color: rgb(175, 170, 170);
        font-family: 'Nano sans display';
        font-size: 25px;
        font-style: italic;
        text-align: justify;
        margin: 15px;
        padding: 25px;
        border: 4px solid black;
}

.SalaSuipacha1-4, .SalaSuipacha2-4, .SalaSuipacha3-4, .SalaSuipacha4-4, .SalaSuipacha6-4, .SalaSuipacha8-4, .SalaSuipacha9-4{
        margin: 40px;
}

/* Correspondiente al Footer*/

footer{
        background-color: rgb(153, 6, 6);
        width: 100%;
        display: flex;
        border: 4px solid black;
}
   