@import '../base/variables';
@import '../base/mapas.scss';
@import '../base/listas';
@import '../base/extends';

body{
  height: 100%; 
  font-family: $font-regular;
  background-color: $bg-color-body; 
}


.contact_form{  
  width: 660px; 
  height: auto;
  margin: 35px auto;
  border-radius: 10px;  
  border: 8px double nth($colores, 2 );
  padding-top: 30px;
  padding-bottom: 20px;  
  background-color: nth($colores, 3 ); 
  padding-left: 30px; 

  p{
     font-size: 14px; 
     color: #0e0e0e; 
     font-size: 15px;

        label{
         display: block; 
          float: center;  
        }

         input{
            background-color: nth($colores, 3 ); 
            width: 550px; 
            height: 40px; 
            border-radius: 5px;  
            border-style: solid; 
            border-width: 1px; 
            border-color: nth($colores, 2 ); 
            margin-top: 10px;  
            padding-left: 10px;
            margin-bottom: 20px; 
        }

        textarea{
            background-color: nth($colores, 3 ); 
            width: 550px; 
            height: 150px; 
            border-radius: 5px;  
            border-style: solid; 
            border-width: 1px; 
            border-color: nth($colores, 2 ); 
            margin-top: 10px;  
            padding-left: 10px;
            margin-bottom: 20px; 
            padding-top: 15px; 
        }
    }

    button{
        height: 45px; 
        padding-left: 5px;
        padding-right: 5px;   
        margin-bottom: 20px; 
        margin-top: 10px;   
        text-transform: uppercase;
        background-color: $color-wcm; 
        border-color: $color-hdr; 
        border-style: solid; 
        border-radius: 10px;  
        width: 550px;   
        cursor: pointer;
    }

    button p{
        color: #fff; 
    }

    span{
        color: nth($colores, 2 ); 
    }

    .aviso{
        font-size: 13px;  
        color: #0e0e0e; 
    }

    h1{
        font-size: 49px;  
        text-align: letf; 
        padding-bottom: 20px; 
        color: nth($colores, 2 );
    }

    h3{
        font-size: 18px; 
        padding-bottom: 30px;
        color: #0e0e0e;   
    }

   
    ::-webkit-input-placeholder {
        color: #a8a8a8;
    }


    ::-webkit-textarea-placeholder {
        color: #a8a8a8;
    }


    .formulario input:focus{
        outline:0;
        border: 1px solid $inst-bg-color;
    }


    .formulario textarea:focus{
        outline:0;
        border: 1px solid $inst-bg-color;
    }
}








