@import '../base/variables';
@import'../base/listas';

/*Header*/

header{
    padding: 10px;
    border: 8px solid black;
    line-height: 12px;
    background-color: $color-hdr;
}
.MenuGral{
    font-family: Arial, Helvetica, sans-serif;
     width: 100%;
     font-size: 13px;
    color: white;

    .nav-link{
        margin-top: 14px;
    }

    .dropdown-menu{
        font-size: 13px;
    }
    
}

/*Footer*/

footer{
    background-color: $color-wcm;
    width: 100%;
    display: flex;
    border: 4px solid black;
}