@import '../base/variables';
@import '../base/mapas';
@import '../base/extends';
@import '../base/listas';
/*SEDE TACUARI - COMPLETO*/

.main-tacuari{
    .Tacuari0{
     background-color: $inst-bg-color;
     font-family: $font-regular;
     text-align: center;
     margin: 15px;
     padding: 25px;
     border: 4px double black;
    }

    .Tacuari1{
        background-color: $inst-bg-color;
        margin: 25px;
        padding: 25px;
        border: 2px solid black;
        font-family: $font-regular;
        line-height: 25px;
        list-style: circle;
        /*display: inline-block;
        width: 80%;*/

        .InfoInterna{
            display: flex;
            justify-content: space-around;
            align-items: center;
            a{
                color: black;
                &:hover{
                    background-color: rgb(179, 166, 166);
                }
            }

            .Tacuari1-2{
                background-color: lighten($color-hdr, 10%);
                color: white;
                margin: 25px;
                padding: 25px;
                border: 2px solid black;
                font-family: $font-regular;
                line-height: 25px;
                list-style:circle;
                /*text-align: justify;
                display: block;*/
                font-size: 20px;
                
            } 
        }
    }

}

/*.Tacuari1-1, .MapaTacuari{
    display: inline-block;
}*/


/*Salas*/

.SalaImagen{
    margin: 5px;
    padding: 8px;
    border: 2px double black;
}

.SalaTacuari3-0, .SalaTacuari4-0, .SalaTacuari9-0{
    @extend %salas0;
}

.SalaTacuari3-1, .SalaTacuari4-1, .SalaTacuari9-1{
    @extend %salas1;
}

.SalaTacuari3-2, .SalaTacuari4-2, .SalaTacuari9-2{
    @extend %salas2;
}

.SalaTacuari3-4, .SalaTacuari4-4, .SalaTacuari9-4{
    margin: 40px;
}
