

$standard: (
    /*padding*/
    padding-standard: 25px,

    /*margin*/
    margin-standard: 15px,

    /*border*/
    border-standard: 4px solid black, 
);

$regular: (
    /*border*/
    border-regular: 2px solid black,

    /*line height*/
    line-height-regular: 25px,
)