$bg-color-body: #7a7879;
$color-wcm: rgb(97, 3, 3);
$color-hdr: rgb(153, 6, 6);
$inst-bg-color: rgb(175, 170, 170);
$font-regular: 'Nano Sans Display';

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px
);